
*{
    margin: 0;
    padding: 0;
 }

body{
    background-color: rgb(68, 213, 177);
}
.header {
    display: flex;
    background-color:  rgb(13, 118, 115);
    justify-content: space-between;
    
}

.section1{
display: flex;
align-items: center;
width: 10%;
}
.logo{
    font-weight: bolder;
    font-size: 120%;
    color: white;
}

.section2{
    display: flex;
    align-items: center;
    width: 30%;
    min-width: 10%;
}

.searchBar{
    
    border: 2px solid black;
    background-color: white;
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    
}

.searchBar input{
    flex: 1;
    border: 0;
    outline: none;
    background: none;
    text-align: center;
    border-radius: 50px;
    
    font-size: 130%;
}

.searchBar button img{
    width: 30px;
}

.searchBar button{
   border:0;
   background-color: grey;
   border-radius: 50%;
   width: 40px;
   height: 40px;
}

.section3{
    display: flex;
    align-items: center;
}

.section3 button{
    padding: 0.5% 2%;
    border-radius: 25px;
    border: solid;
    cursor: pointer;
    
}

.section3 button:hover{
    background-color: rgb(177, 232, 230);
}

/*The following css styles will apply to way the books are displayed on the BookResults.html page
 Remainder: Every book-container is already in a flex-box, created in js script.
*/

#content{
    
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.book-container{
    width: 700px;
    background-color: white;
    box-shadow: -9px 3px 10px rgb(3, 136, 214);
}

.bookFactsContainer{
    flex: 1 ;
    
    margin: 15px;
}

.bookFactsContainer input{
    margin-left: 6px;
}

.bookFactsContainer input:hover{
    cursor: pointer;
}

.bookTitle{
    font-weight: bold;
}

