.header {
    display: flex;
    background-color:  rgb(13, 118, 115);
    /*justify-content:space-evenly;*/
    justify-content: space-between;
}

.section1{
display: flex;
border-color: black;
border-style: solid;
width: 10%;
}
.logo{
    font-weight: bolder;
    font-size: 120%;
}

.section2{
    display: flex;
    align-items: center;
    border-color: black;
    border-style: solid;
    width: 30%;
    min-width: 10%;
}

.searchBar{
    border: 2px solid black;
    background-color: white;
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 0.2% 1%;
}

.searchBar input{
    flex: 1;
    border: 0;
    outline: none;
    background: none;
    text-align: center;
    border-radius: 50px;
    /*padding: 2% 2%;*/
    font-size: 130%;
}

.searchBar button img{
    width: 30px;
}

.searchBar button{
   border:0;
   background-color: grey;
   border-radius: 50%;
   width: 40px;
   height: 40px;
}

.section3{
    display: flex;
    align-items: center;
    border-color: black;
    border-style: solid;
    width: 10%;
}

/*The following css styles will apply to way the books are displayed on the BookResults.html page
 Remainder: Every book-container is already in a flex-box, created in js script.
*/

#content{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.book-container{
    width: 700px;
    background-color: white;
    padding: 10px auto;
    box-shadow: -9px 3px 10px rgb(3, 136, 214);
}

.bookFactsContainer{
    flex: 1 ;
    margin: 15px;
}

.bookTitle{
    font-weight: bold;
}

